*{
    padding:0;margin:0;transition-timing-function:cubic-bezier(.19,1,.22,1)
}
body,html{
    font-family:Microsoft YaHei;
    -webkit-font-smoothing:antialiased;
    color:#fff;line-height:1.5;
    min-width:1150px;
    background-color:#212121;
    font-size:14px;
    overflow-x:hidden
}
.background.fixed{
    position:fixed;top:-60%
}
.background{
    position:absolute;top:0;left:0;width:100vw;height:100vh
}
.background .cover{
    position:absolute;
    bottom:-42%;
    left:0;
    height:100%;
    width:100%;
    background:linear-gradient(0deg,#202020 30%,rgba(32,32,32,0))
}
